ul {
  list-style: square;
}

.container {
  max-width: 900px;
  padding: auto;
  padding-top: auto;
  margin: auto;
}

::marker {
  color: #dc8b53;
}

.Weather {
    padding: 50px;
    color: #191919;
    font-family:'VT323', Arial, sans-serif;
    font-size: 25px;
}

.Weather h1 {
    border: solid #191919;
    font-size: 60px;
    background: #FFE3F8;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    line-height: 30px;
    box-shadow: 5px 5px 1px #191919;
}

form {
  margin-bottom: 40px;
  height: auto;
}

.form-control {
  box-shadow: 5px 5px 1px #191919;
  border: solid #191919;
  border-radius: 0%;
  display: inline-block;
  width: 80%;
  margin-right: 5px;
  background-color: #ECECEC;
}

.button {
  background-color: #BAD7FF;
  border: solid #191919;
  color: #4f4f4f;
  box-shadow: 5px 5px 1px #191919;
  display: inline-block;
}

.weatherContainer {
  background-color: #e5e5f7;
  background-image:  repeating-linear-gradient(45deg, #D8D9D7 25%, transparent 25%, transparent 75%, #D8D9D7 75%, #D8D9D7), repeating-linear-gradient(45deg, #D8D9D7 25%, #e5e5f7 25%, #e5e5f7 75%, #D8D9D7 75%, #D8D9D7);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
  padding: 30px;
  border-radius: 10px;
  border: solid #191919;
  box-shadow: 5px 5px 1px #191919;

}

.Weather .temperature {
  font-weight: bold;
  font-size: 64px;
}

.Weather .unit {
  font-size: 64px;
}