ul {
  list-style: square;
}

.container {
  max-width: 900px;
  padding: auto;
  padding-top: auto;
  margin: auto;
  background: url(/src/img/Mario.png);
  background-repeat: no-repeat;
  background-size: 100%;

}

::marker {
  color: #dc8b53;
}

.Weather {
    padding: 50px;
    color: #353535;
    text-shadow: 1px 1px 1px #ECECEC;
    font-family:'VT323', Arial, sans-serif;
    font-size: 25px;
}

.Weather h1 {
    font-size: 60px;
    color: #ECECEC;
    text-shadow:3px 3px 1px #000000;
    margin-left: 40%;
}

form {
  margin-bottom: 40px;
  height: auto;
}

.form-control {
  box-shadow: 5px 5px 0px #000000;
  border-radius: 0%;
  display: inline-block;
  width: 80%;
  margin-right: 5px;
  background-color: #ECECEC;
}

.button {
  background-color: #a0b672;
  color: #4f4f4f;
  box-shadow: 5px 5px 0px  #000000;
  display: inline-block;
}

.Weather .date-forecast {

}

.Weather .temperature {
  font-weight: bold;
  font-size: 64px;
  text-shadow:3px 3px 1px #dc8b53;
  margin-left: 66%;
}

.Weather .unit {
  font-size: 32px;
  text-shadow:3px 3px 1px #dc8b53;
}