ul {
  list-style: square;
}

.container {
  max-width: 900px;
  padding: auto;
  margin: auto;
  background: url(/src/img/Mario.png);
  background-repeat: no-repeat;
  background-size: 100%;
  box-shadow: 5px 5px 0px #000000;
}

::marker {
  color: #dc8b53;
}

.Weather {
    padding: 50px;
    color: #353535;
    text-shadow: 1px 1px 1px #ffffff;
    font-family:'VT323', Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.Weather h1 {
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
    text-shadow:3px 3px 1px #000000;
}

.weather .city-and-img {
  display: inline;

}

.form-control {
  font-style: italic;
  box-shadow: 5px 5px 0px #000000;
  border-radius:0%;
  font-size: 20px;
}

.button {
  background-color: #a0b672;
  color: #4f4f4f;
  box-shadow: 5px 5px 0px  #000000;
}

.Weather .temperature {
  font-weight: bold;
  font-size: 64px;
  text-shadow:3px 3px 1px #dc8b53;
}

.Weather .unit {
  font-size: 32px;
  text-shadow:3px 3px 1px #dc8b53;

}

